<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <h4>Logo</h4>
    </a><!--Navbar-brand-->

    <ul class="navbar-nav mr-auto"><!--mr-auto from Bootstrap put it on the left side -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a><!--nav-link from Bootstrap-->
        </li><!--nav-item from Bootstrap-->
    </ul><!--navbar-nav from Bootstrap-->
</nav><!--NavBar from Bootstrap-->